* {

    font-family: 'Work Sans', sans-serif;
}

/* shared-css  */

.primary {
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: 0;
    padding: 21px 40px;
    color: white;
}

.different-color {
    color: #FF42A5;
}

/* shared-css  */

/* header-css */
/* nav-css */
.nav-bar {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo img {
    width: 4rem;
    height: 3rem;
    margin-right: 20px;
}

.list-item ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-item li {
    list-style: none;
    margin: 2px 10px;
}

.list-item a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;

}

.icon-nav {
    border-radius: 8px;

    display: flex;
    justify-content: space-around;
    padding: 20px 12px;

}

.icon-nav:hover {
    background: rgba(11, 2, 35, 0.10);
}

.icon-one {
    color: #F61C0D;
}

.icon-two {
    color: #000000;
}

/* nav-css */

/* header-css */

/* main-css */
main {
    max-width: 1140px;
    margin: 50px auto;
}


.banner-content-one {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0px
}

.banner-content-two {

    font-size: 5.8rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 10px
}

.others-btn {

    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: white;
    border: 0;
}

.banner-part {
    display: flex;
    justify-content: space-around
}


.banner-image img {
    width: 500px;
    height: 300px;

}

.instant-play-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.instant-play-img .image-main {
    width: 500px;
    height: 500px;
    margin-left: 50px;
}

.instant-play-img .image-relative {
    position: relative;
    bottom: 150px;
    width: 200px;
    height: 200px;
}

.section-heading {

    font-size: 2rem;
    font-weight: 700;
}
#play-text
{
    text-align: right;
    color: #534C64;
}
/* main-css */

/* ------------------------media query css---------- */

@media screen and (max-width:576px) {


    .nav-bar,
    .list-item ul,
    .banner-part,
    .logo,.instant-play-container {
        flex-direction: column;
    }

    .banner-image img,.instant-play-img .image-relative {
        width: auto;

    }
    .instant-play-img .image-main
    {
        margin: 0;
        width: 100%;
    }

    .banner-part {
        width: auto;
    }
}