* {

    font-family: 'Work Sans', sans-serif;
}

/* shared-css  */

.primary {
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: 0;
    padding: 21px 40px;
    color: white;
}

.different-color {
    color: #FF42A5;
}

/* shared-css  */

/* header-css */
/* nav-css */
.nav-bar {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo img {
    width: 4rem;
    height: 3rem;
    margin-right: 20px;
}

.list-item ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-item li {
    list-style: none;
    margin: 2px 10px;
}

.list-item a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;

}

.icon-nav {
    border-radius: 8px;

    display: flex;
    justify-content: space-around;
    padding: 20px 12px;

}

.icon-nav:hover {
    background: rgba(11, 2, 35, 0.10);
}

.icon-one {
    color: #F61C0D;

}

.icon-two {
    color: #000000;

}


/* nav-css */

/* header-css */

/* main-css */
main {
    max-width: 1140px;
    margin:0 auto;
}


.banner-content-one {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0px
}

.banner-content-two {

    font-size: 5.8rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 10px
}

.others-btn {

    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: white;
    border: 0;
}

.banner-part {
    display: flex;
    justify-content: space-around
}


.banner-image img {
    width: 500px;
    height: 300px;

}
.card-title
{
    color: #0B0223;
    text-align: center;
  
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
  
}
.card-content-details
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.card-content{
    position: relative;
}
.card-text
{
    text-align: center;
}
.card-content img{
    width: 250px;
    height: 300px;  
}

.overlay-content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
   
}
.overlay-content .fa-circle-play
{
    font-size: 3rem;
    color:#FF42A5;
}
.overlay-text
{
    font-size: 1.5rem;
    color:#FF42A5;
}
.card-content:hover .overlay-content
{
    opacity:1;
}


.play-instant
{
    margin-top: 30px;
}
.instant-play-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.instant-play-img .image-main {
    width: 500px;
    height: 500px;
    margin-left: 50px;
}

.instant-play-img .image-relative {
    position: relative;
    bottom: 150px;
    width: 200px;
    height: 200px;
}

.section-heading {

    font-size: 2rem;
    font-weight: 700;
}

#play-text {
    text-align: right;
    color: #534C64;
}

.first-round-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.second-round-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.button-box:hover {
    cursor: pointer;
    border-radius: 50px;
    border: 1.5px solid  #FF42A5;

}

.button-box img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

/* main-css */

/* footer-css */
.ending-part {
    background: #0B0223;
    /* padding: 10px 20px; */
  
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    margin-right: 10px;
    width: 100px;
}

.footer-logo-heading {
    color: aliceblue;
}

.footer-list ul,
.icon-list ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-list ul li,
.icon-list ul li {
    list-style: none;
}

.footer-list li a,
.icon-list li a {
    text-decoration: none;
    color: #FFF;
    ;
    margin: 0 15px;

    font-size: 1rem;
}

.footer-text {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.footer-icon-one,
.footer-icon-two,
.footer-icon-three {
    font-size: 20px;
    color: aliceblue;
}

/* footer-css */

/* ------------------------media query css---------- */

@media screen and (max-width:576px) {


    .nav-bar,
    .list-item ul,
    .banner-part,
    .logo,
    .instant-play-container,.footer-list ul,
    .first-round-game,.second-round-game,.card-content-details,.footer-logo {
        flex-direction: column;
    }

    .banner-image img,
    .instant-play-img .image-relative {
        width: auto;

    }
    .card-content img{
        width: auto;
        height: auto;
    }
    .card
    {
        width: 100%;
    }
    .play-instant
{
    margin-top: 10px;
}

    .instant-play-img .image-main ,.game-select{
        margin: 0;
        width: 100%;
    }

    .banner-part {
        width: auto;
    }

    .footer-list ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
    .button-box
    {
        padding: 0;
    }
    .button-box img
    {
        margin: 5px;
    }

    .ending-part {
        padding: 0;
       overflow: auto;
      

    }
   

    .footer-list li a,
    .icon-list li a {
        margin: 0;
    }
    .footer-text {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-size: 10px;
    
    }
    .footer-logo img {
        margin:0;
    }
    
    
}